# Custom
CONFIG_HAVE_KVM=y
CONFIG_DEFAULT_HOSTNAME="now"
CONFIG_EXPERT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="apm=off audit=0 console=ttyS0,9600n8 init_on_free=1 tsc=reliable random.trust_cpu=on nowatchdog noapic nomce net.ifnames=0 biosdevname=0 lpj=478208"
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_KERNEL_GZIP=y
CONFIG_NR_CPUS_RANGE_BEGIN=1
CONFIG_NR_CPUS_RANGE_END=1
CONFIG_NR_CPUS_DEFAULT=1
CONFIG_NR_CPUS=1
CONFIG_UP_LATE_INIT=y
CONFIG_X86_LOCAL_APIC=y
CONFIG_X86_IO_APIC=y
CONFIG_RD_GZIP=y
CONFIG_INITRAMFS_COMPRESSION_GZIP=y
CONFIG_ZLIB_INFLATE=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_XZ_DEC=y
CONFIG_XZ_DEC_X86=y
CONFIG_XZ_DEC_POWERPC=y
CONFIG_XZ_DEC_IA64=y
CONFIG_XZ_DEC_ARM=y
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_SPARC=y
CONFIG_XZ_DEC_BCJ=y
CONFIG_DECOMPRESS_GZIP=y
CONFIG_DECOMPRESS_BZIP2=y
CONFIG_DECOMPRESS_LZMA=y
CONFIG_DECOMPRESS_XZ=y
CONFIG_DECOMPRESS_LZO=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_HAS_IOMEM=y
CONFIG_SWAP=y
CONFIG_CROSS_MEMORY_ATTACH=y
CONFIG_TINY_RCU=y
CONFIG_SRCU=y
CONFIG_TINY_SRCU=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_X86=y
CONFIG_NO_HZ=y
CONFIG_HZ_250=y
CONFIG_HZ=250
CONFIG_HAVE_EBPF_JIT=y
CONFIG_ARCH_WANT_DEFAULT_BPF_JIT=y
CONFIG_EXT3_FS=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_VFAT_FS=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_FS=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MMIO=y
CONFIG_THERMAL=y
CONFIG_SECURITY_SELINUX_DISABLE=y
CONFIG_DM_ZERO=y
CONFIG_DM_MIRROR=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_PHYSICAL_START=0x1000000
CONFIG_PHYSICAL_ALIGN=0x200000
CONFIG_DYNAMIC_MEMORY_LAYOUT=y
# CONFIG_HOTPLUG is not set
CONFIG_CLOCKSOURCE_WATCHDOG=y
CONFIG_ARCH_CLOCKSOURCE_DATA=y
CONFIG_ARCH_CLOCKSOURCE_INIT=y
CONFIG_CLOCKSOURCE_VALIDATE_LAST_CYCLE=y
CONFIG_GENERIC_TIME_VSYSCALL=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_GENERIC_CLOCKEVENTS_MIN_ADJUST=y
CONFIG_GENERIC_CMOS_UPDATE=y
CONFIG_NE2K_PCI=y
CONFIG_IP_PNP_DHCP=y
# remove unnecessary cpu types
CONFIG_X86_GENERIC=y
CONFIG_PROCESSOR_SELECT=y
# Fill pages with zeros after freeing to release v86 memory.
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_AUDIT=y
CONFIG_HZ_PERIODIC=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_BSD_PROCESS_ACCT=y
# CONFIG_TASKSTATS is not defined
#CONFIG_TASK_DELAY_ACCT is not defined
#CONFIG_TASK_XACCT is not defined
#CONFIG_TASK_IO_ACCOUNTING is not defined
CONFIG_LOG_BUF_SHIFT=18
# CONFIG_CGROUPS is not set
# CONFIG_CGROUP_SCHED is not set
# CONFIG_CGROUP_FREEZER is not set
CONFIG_CGROUP_CPUACCT=y
CONFIG_NAMESPACES=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="${BR_BINARIES_DIR}/rootfs.cpio"
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_PCSPKR_PLATFORM is not set
CONFIG_EMBEDDED=y
# CONFIG_COMPAT_BRK is not set
# CONFIG_PROFILING is not set
# CONFIG_KPROBES is not set
# CONFIG_JUMP_LABEL is not set
# CONFIG_MODULES is not set
# CONFIG_MODULE_UNLOAD is not set
# CONFIG_MODULE_FORCE_UNLOAD is not set
CONFIG_MSDOS_PARTITION=y
# CONFIG_PARTITION_ADVANCED is not set
# CONFIG_OSF_PARTITION is not set
# CONFIG_AMIGA_PARTITION is not set
# CONFIG_MAC_PARTITION is not set
# CONFIG_BSD_DISKLABEL is not set
# CONFIG_MINIX_SUBPARTITION is not set
# CONFIG_SOLARIS_X86_PARTITION is not set
# CONFIG_UNIXWARE_DISKLABEL is not set
# CONFIG_SGI_PARTITION is not set
# CONFIG_SUN_PARTITION is not set
# CONFIG_KARMA_PARTITION is not set
CONFIG_X86_EXTENDED_PLATFORM=y
# CONFIG_M686 is not set
# CONFIG_X86_GENERIC is not set
CONFIG_HPET_TIMER=y
# CONFIG_PREEMPT_VOLUNTARY is not set
# CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS is not set
# CONFIG_X86_REBOOTFIXUPS is not set
# CONFIG_MICROCODE_AMD is not set
# CONFIG_X86_MSR=y is not set
# CONFIG_X86_CPUID=y is not set
# CONFIG_HIGHPTE is not set
# CONFIG_X86_CHECK_BIOS_CORRUPTION is not set
# CONFIG_MTRR_SANITIZER is not set
# CONFIG_EFI=y is not set
# CONFIG_KEXEC is not set
# CONFIG_CRASH_DUMP is not set
# CONFIG_HIBERNATION is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_TRACE_RTC is not set
# CONFIG_ACPI_DOCK is not set
# CONFIG_ACPI_CONTAINER is not set
# CONFIG_CPU_FREQ is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE is not set
# CONFIG_CPU_FREQ_GOV_PERFORMANCE is not set
# CONFIG_CPU_FREQ_GOV_ONDEMAND is not set
# CONFIG_X86_INTEL_PSTATE is not set
# CONFIG_X86_ACPI_CPUFREQ is not set
# CONFIG_PCIEPORTBUS is not set
# CONFIG_PCI_MSI is not set
# CONFIG_PCI_DEBUG is not set
# CONFIG_HOTPLUG_PCI is not set
# CONFIG_PCCARD is not set
# CONFIG_YENTA is not set
# CONFIG_BINFMT_MISC is not set
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_HAVE_EISA=y
CONFIG_HAVE_PCI=y
CONFIG_PCI=y
CONFIG_PCI_DOMAINS=y
CONFIG_PCIEASPM=y
CONFIG_PCIEASPM_DEFAULT=y
CONFIG_PCI_QUIRKS=y
CONFIG_PCI_LOCKLESS_CONFIG=y
CONFIG_PCI_LABEL=y
CONFIG_UNIX=y
# CONFIG_XFRM_USER is not set
CONFIG_INET=y
# CONFIG_IP_MULTICAST is not set
# CONFIG_IP_ADVANCED_ROUTER is not set
# CONFIG_IP_MULTIPLE_TABLES is not set
# CONFIG_IP_ROUTE_MULTIPATH is not set
# CONFIG_IP_ROUTE_VERBOSE is not set
# CONFIG_IP_PNP is not set
# CONFIG_IP_PNP_DHCP is not set
# CONFIG_IP_PNP_BOOTP is not set
# CONFIG_IP_PNP_RARP is not set
# CONFIG_IP_MROUTE is not set
# CONFIG_IP_PIMSM_V1 is not set
# CONFIG_IP_PIMSM_V2 is not set
# CONFIG_SYN_COOKIES is not set
# CONFIG_INET_XFRM_MODE_TRANSPORT is not set
# CONFIG_INET_XFRM_MODE_TUNNEL is not set
# CONFIG_INET_XFRM_MODE_BEET is not set
CONFIG_INET_DIAG=y
CONFIG_INET_TCP_DIAG=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_DEFAULT_TCP_CONG="cubic"
# CONFIG_TCP_CONG_ADVANCED is not set
# CONFIG_TCP_CONG_BIC is not set
# CONFIG_TCP_CONG_WESTWOOD is not set
# CONFIG_TCP_CONG_HTCP is not set
# CONFIG_TCP_MD5SIG is not set
CONFIG_IPV6=y
# CONFIG_NETWORK_SECMARK is not set
# CONFIG_NET_SCHED is not set
# CONFIG_NET_EMATCH is not set
# CONFIG_NET_CLS_ACT is not set
# CONFIG_DNS_RESOLVER is not set
# CONFIG_WIRELESS is not set
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
# CONFIG_UEVENT_HELPER_PATH is not set
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_STANDALONE=y
CONFIG_PREVENT_FIRMWARE_BUILD=y
# CONFIG_DEBUG_DEVRES is not set
# CONFIG_CONNECTOR is not set
# CONFIG_PNP_DEBUG_MESSAGES is not set
# CONFIG_BLK_DEV_LOOP is not set
# CONFIG_SCSI_PROC_FS is not set
# CONFIG_SCSI_SPI_ATTRS is not set
# CONFIG_SCSI_LOWLEVEL is not set
# CONFIG_ATA is not set
# CONFIG_ATA_VERBOSE_ERROR is not set
# CONFIG_SATA_AHCI is not set
# CONFIG_ATA_PIIX is not set
# CONFIG_PATA_AMD is not set
# CONFIG_PATA_OLDPIIX is not set
# CONFIG_PATA_SCH is not set
# CONFIG_PATA_MPIIX is not set
# CONFIG_ATA_GENERIC is not set
CONFIG_NETDEVICES=y
CONFIG_NET_CORE=y
# CONFIG_NETCONSOLE is not set
# CONFIG_VIRTIO_NET is not set
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_NATSEMI=y
CONFIG_NET_VENDOR_8390=y
# CONFIG_PHYLIB is not set
# CONFIG_WLAN is not set
# CONFIG_INPUT_POLLDEV is not set
# CONFIG_INPUT_SPARSEKMAP is not set
# CONFIG_INPUT_EVDEV is not set
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_SERIAL_NONSTANDARD is not set
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=32
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_SERIAL_8250_MANY_PORTS=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_SERIAL_8250_DETECT_IRQ=n
CONFIG_SERIAL_8250_RSA=y
CONFIG_HW_RANDOM=y
# CONFIG_NVRAM is not set
# CONFIG_PPS is not set
# CONFIG_HPET is not set
# CONFIG_HPET_MMAP is not set
# CONFIG_I2C_I801 is not set
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_WATCHDOG is not set
# CONFIG_AGP is not set
# CONFIG_AGP_AMD64 is not set
# CONFIG_AGP_INTEL is not set
# CONFIG_DRM is not set
# CONFIG_DRM_I915 is not set
# CONFIG_FB_MODE_HELPERS is not set
# CONFIG_FB_TILEBLITTING is not set
# CONFIG_FB_EFI is not set
# CONFIG_LCD_CLASS_DEVICE is not set
# CONFIG_VGACON_SOFT_SCROLLBACK is not set
# CONFIG_FRAMEBUFFER_CONSOLE is not set
# CONFIG_LOGO is not set
# CONFIG_LOGO_LINUX_MONO is not set
# CONFIG_LOGO_LINUX_VGA16 is not set
# CONFIG_HIDRAW is not set
CONFIG_HID_A4TECH=y
CONFIG_HID_APPLE=y
CONFIG_HID_BELKIN=y
CONFIG_HID_CHERRY=y
CONFIG_HID_CHICONY=y
CONFIG_HID_CYPRESS=y
CONFIG_HID_EZKEY=y
# CONFIG_HID_GYRATION is not set
CONFIG_HID_ITE=y
CONFIG_HID_KENSINGTON=y
CONFIG_HID_LOGITECH=y
CONFIG_LOGITECH_FF=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_MONTEREY=y
# CONFIG_HID_PANTHERLORD is not set
# CONFIG_PANTHERLORD_FF is not set
# CONFIG_HID_PETALYNX is not set
# CONFIG_HID_SAMSUNG is not set
# CONFIG_HID_SUNPLUS is not set
# CONFIG_HID_TOPSEED is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_LEDS_CLASS is not set
# CONFIG_LEDS_TRIGGERS is not set
# CONFIG_EDAC is not set
CONFIG_EDAC_ATOMIC_SCRUB=y
CONFIG_EDAC_SUPPORT=y
# CONFIG_RTC_CLASS is not set
# CONFIG_RTC_HCTOSYS is not set
# CONFIG_DMADEVICES is not set
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
# CONFIG_X86_PLATFORM_DEVICES is not set
# CONFIG_DAX is not set
CONFIG_EFI_PARTITION=y
CONFIG_AUTOFS4_FS=y
CONFIG_FSCACHE=y
CONFIG_CACHEFILES=y
CONFIG_ISO9660_FS=y
# CONFIG_JOLIET is not set
# CONFIG_ZISOFS is not set
# CONFIG_PROC_VMCORE is not set
# CONFIG_TMPFS_POSIX_ACL is not set
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_9P_FS=y
CONFIG_9P_FSCACHE=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_PRINTK_TIME=y
# CONFIG_ENABLE_WARN_DEPRECATED is not set
# CONFIG_UNUSED_SYMBOLS is not set
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_DEBUG_STACK_USAGE is not set
# CONFIG_DEBUG_STACKOVERFLOW is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SCHEDSTATS is not set
# CONFIG_RCU_TRACE is not set
# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_PROVIDE_OHCI1394_DMA_INIT is not set
# CONFIG_EARLY_PRINTK_DBGP is not set
# CONFIG_DEBUG_BOOT_PARAMS is not set
CONFIG_OPTIMIZE_INLINING=y
# CONFIG_KEYS is not set
# CONFIG_SECURITY is not set
CONFIG_CRYPTO_RSA is not set
# CONFIG_CRYPTO_AUTHENC is not set
CONFIG_CRYPTO_CCM is not set
CONFIG_CRYPTO_GCM is not set
# CONFIG_CRYPTO_ECHAINIV is not set
CONFIG_CRYPTO_CBC is not set
# CONFIG_CRYPTO_CMAC is not set
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_SHA1=y
CONFIG_CRYPTO_AES_586=y
CONFIG_CRYPTO_ARC4=y
CONFIG_CRYPTO_DES=y
# CONFIG_ASYMMETRIC_KEY_TYPE is not set
# CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE is not set
# CONFIG_X509_CERTIFICATE_PARSER is not set
# CONFIG_PKCS7_MESSAGE_PARSER is not set
# CONFIG_SYSTEM_TRUSTED_KEYRING is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_CRC_CCITT is not set
CONFIG_CRC16=y
